<form [formGroup]=cardForm>
    <div class="container">
        <div class="col-12">
            <div class="jumbotron">
                <h1 class="display-3">Заметки</h1>
                <p class="lead">Это форма для создания заметки, запишите имя заметки и её содержание и нажмите кнопку
                    "Добавить заметку", для очистки формы используйте соответствующую кнопку</p>
                <hr class="my-2">
                <input type="text" class="form-control mb-2" placeholder="Название" aria-label=""
                    aria-describedby="basic-addon1" formControlName="name"
                    [ngClass]="{'invalid': cardForm.get('name')?.invalid && cardForm.get('name')?.touched}">
                <textarea class="col" formControlName="inputText"
                    [ngClass]="{'invalid': cardForm.get('inputText')?.invalid && cardForm.get('name')?.touched}"> </textarea>
                <label for="type" class="mr-2">Выберите тип заметки</label>

                <select class="mt-3 mb-3" name="type" formControlName="type">
                    <option *ngFor="let type of types" [ngValue]="type.id"> {{type.name}}</option>
                </select>

                <form [formGroup]=typeForm>
                    <ng-container *ngIf="!editType; else elseTemplate">
                        <button class="btn btn-primary btn-sm ml-2 mb-3"
                            (click)="editType = true"
                            >Редактировать типы</button>
                    </ng-container>
                    <ng-template #elseTemplate>
                        <input formControlName="name" type="text" [[(ngModel)]="typeName"> <button
                            class="btn btn-primary btn-sm ml-2"  (click)="onAddType()"
                            [disabled]="typeForm.invalid"
                            >Добавить
                            тип</button> 
                            <button
                            class="btn btn-primary btn-sm ml-2"  (click)="editType = false"
                            >Вернуться</button>

                        <div *ngFor="let type of types">
                            <h5>{{type.name}}</h5> <button class="btn btn-primary btn-sm mb-1"
                                (click) = "onDeleteType(type.id)"
                                >Удалить</button>
                        </div>
                    </ng-template>
                </form>

                <p class="lead">
                    <button class="btn btn-primary btn-lg" role="button" (click)="onAddNote()"
                        [disabled]="cardForm.invalid">Сохранить</button>
                    <button class="btn btn-primary btn-lg" role="button" style="margin-left: 20px; "
                        (click)="getClear()">Очистить форму</button>
                </p>
            </div>
        </div>
    </div>
</form>